*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.form-register {
	width: 400px;
	background: #24303c;
	padding: 30px;
	margin: auto;
	margin-top: 50px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
}
.form-register h1{
	font-size: 22px;
	margin-bottom: 20px;
}


.form-register:focus{
	border:2px solid blue;
}

.cont{
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #1f53c5;
	font-family: 'calibri';
	font-size: 18px;
}

.form-register.botons{
 	width: 100%
 	background: #24303c;
 	border:none;
 	padding: 12px;
 	color: black;
 	margin: 16px 0;
 	font-size: 16px; 

 }

